* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	margin: 0;
	position: relative;
	font-family: "Segoe UI", Arial,sans-serif;
	font-size: 14px;
	color: #14171a;
	background-color: #e6ecf0;
}

nav {
	width: 100%;
	height: 46px;
	position: fixed;
	background-color: #fff;
	border-bottom: 1px solid #898577;
	z-index: 10;
}

.nav-links, .menu-top, .fa-twitter, .logo {
	display: inline-block;
}

.menu-top, .logo {
	width: 33%;
}

.nav-links, .nav-links a, a {
	margin-right: 10px;
	color: #26464a;
	text-decoration: none;
	font-weight: bold;
}

.logo {
	text-align: center;
}

.fa-twitter {
	color: #1da1f2;
	vertical-align: middle;
}

main {
	position: absolute;
	top: 46px;	
	text-align: center;
	vertical-align: top;
}

/* Cabecera Perfil Twitter */
.header-profile {
	width: 100%;
	height: 320px;
	overflow: hidden;
}

.header-profile img {
	width: 100%;
}

section {
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}

.left-content, .right-content {
	width: 250px;
	height: 300px;
	padding: 5px 10px 5px 10px;
	background-color: #fff;
	text-align: left;
	vertical-align: top;

}
/* Contenido Centro */

.center-content {
	width: 588px;
	height: auto;
	vertical-align: top;
}

.container {
	width: 100%;
	padding: 10px;
	background-color: #fff;
	overflow: hidden;
}

#cont div {
	padding: 10px;
	border-top: 1px solid #e6ecf0;
	background-color: #fff;

}

#cont div p {
	word-wrap: break-word; /* word-wrap corta las palabras largas */
	color: #14171a;
	text-align: left;
	
}

 /* Caja de texto */
.txt {
	width: 100%;
	min-height: 80px;
	resize: none;
	overflow: hidden;
	display: block;
	margin-bottom: 20px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	outline: none;
}

.btn-disabled {
	padding: 6px 16px;
	background-color: #bbc4c6;
	color: #fff;
	font-weight: bold;
	border-radius: 20px;
	cursor: not-allowed;
	float: left;

}

#btn-tweet {
	padding: 6px 16px;
	margin-left: 10px;
	
} 

.btn-enabled {
	background-color: #516a6e;
	color: #fff;
	font-weight: bold;
	border-radius: 20px;
	float: left;
} 


#wordLength {
	float: right;
	display: inline-block;
}

#date {
	font-size: 0.7em;
	color: #6e8184;
}

/* Clases Numero de Caracteres */
.black {
	color: initial;
}

.yellow {
	color: #d26100;
}

.red {
	color: #930000;
}